@model MyTannent.Web.ViewModel.UserViewModel

@{
    ViewBag.Title = "AddTanent";
}

<h3 class="page-title">Add a new Tanent</h3>
<div class="row">
    @using (Html.BeginForm("AddTanent", "Tanent", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Basic Detail</div>
                <div class="panel-body">

                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.UserType)
                    <div class="form-group">

                        @Html.LabelFor(model => model.Firstname, new { @class = "col-sm-4 control-label" })

                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Firstname, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Firstname)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Lastname, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Lastname, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Lastname)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Mobile1, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Mobile1, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Mobile1)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Mobile2, new { @class = "col-sm-4 control-label" })

                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Mobile2, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Mobile2)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EmailId, new { @class = "col-sm-4 control-label" })

                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EmailId)
                        </div>
                    </div>

                  @*  <div class="form-group">
                        @Html.LabelFor(model => model.UserId, new { @class = "col-sm-4 control-label" })

                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.UserId, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.password, new { @class = "col-sm-4 control-label" })

                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.password)
                        </div>
                    </div>                   

                    *@
                    <div class="form-group">
                        <label class="control-label col-sm-4 ">Profile Photo</label>
                        <div class="col-sm-8">
                            <input id="txtUserPhoto" name="profileImg" type="file" class="file form-control">
                            @Html.HiddenFor(model => model.UserPhoto)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AllotedFloorNo, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.AllotedFloorNo, ViewData["ddlFloors"] as List<SelectListItem>, new { @onchange = "GetValue(this.value)", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AllotedFloorNo)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.AllotedRoomNo, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.AllotedRoomNo, ViewData["ddlRooms"] as List<SelectListItem>, new { @onchange = "GetValue(this.value)", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AllotedRoomNo)
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Address Detail</div>
                <div class="panel-body">

                    @*<div class="form-group row">
                    @Html.LabelFor(model => model.Country, new { @class = "col-sm-5 control-label" })

                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.Country, new { @class = "form-control" })
                    </div>
                </div>*@

                    <div class="form-group">
                        @Html.LabelFor(model => model.State, new { @class = "col-sm-4 control-label" })

                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.State, Model.lstStates, new { @id = "State", @class = "form-control", style = "" })
                            @Html.ValidationMessageFor(model => model.State)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.City, new { @class = "col-sm-4 control-label" })

                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.City, Model.lstCity, new { @id = "City", @class = "form-control", style = "" })
                            @Html.ValidationMessageFor(model => model.City)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Locality, new { @class = "col-sm-4 control-label" })

                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Locality, new { @class = "form-control", @id = "Locality", @placeholder = "Enter your address" })
                            @Html.ValidationMessageFor(model => model.Locality)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PermanentAddress, new { @class = "col-sm-4 control-label" })

                        <div class="col-sm-8">
                            @Html.TextAreaFor(model => model.PermanentAddress, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PermanentAddress)
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Documents Detail</div>
                <div class="panel-body">

                    <div class="">
                        <label class="control-label">Document [s]</label>
                        <span class="noteText">(You can upload multiple file[s])</span>
                        <input type="file" name="files" multiple class="file form-control">
                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Action</div>
                <div class="panel-body">
                    <div class="">

                        @* <button class="btn btn-default" type="button"></button>*@
                        @Html.ActionLink("Cancel", "Index", new { }, new { @class = "btn btn-default" })

                        <button class="btn btn-primary" type="submit">Save</button>

                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        debugger;
        $("#State").change(function () {
            loadCity();
        })

        function loadCity() {
            debugger;
            $("#City").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCityByStateID")', // we are calling json method
                dataType: 'json',
                data: { id: $("#State").val() },
                success: function (Cities) {
                    debugger;
                    $.each(Cities, function (i, city) {
                        $("#City").append('<option value="' + city.Value + '">' + city.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve City.' + ex);
                }
            });
            return false;
        }
    });

    $(document).ready(function () {
        $('#UserId').prop('readonly', true);

        // Numeric only control handler
        jQuery.fn.ForceNumericOnly =
        function () {
            return this.each(function () {
                $(this).keydown(function (e) {
                    var key = e.charCode || e.keyCode || 0;
                    // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                    // home, end, period, and numpad decimal
                    return (
                        key == 8 ||
                        key == 9 ||
                        key == 13 ||
                        key == 46 ||
                        key == 110 ||
                        key == 190 ||
                        (key >= 35 && key <= 40) ||
                        (key >= 48 && key <= 57) ||
                        (key >= 96 && key <= 105));
                });
            });
        };

        $("input.numbersOnly").ForceNumericOnly();
    });
</script>

