<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    @{
        string UType = Convert.ToString(Session["UType"]);
        string UserId = Convert.ToString(Session["Id"]);
    }
    @*    https://www.freelogoservices.com/*@
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Suraj K. Mad.">
    <meta name="theme-color" content="#3e454c">

    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @*    @Styles.Render("~/Content/css")*@
    @*    @Scripts.Render("~/bundles/modernizr")*@

    <!-- Font awesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <!-- Sandstone Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Bootstrap Datatables -->
    <link rel="stylesheet" href="~/Content/css/dataTables.bootstrap.min.css">
    <!-- Bootstrap social button library -->
    <link rel="stylesheet" href="~/Content/css/bootstrap-social.css">
    <!-- Bootstrap select -->
    <link rel="stylesheet" href="~/Content/css/bootstrap-select.css">
    <!-- Bootstrap file input -->
    <link rel="stylesheet" href="~/Content/css/fileinput.min.css">
    <!-- Awesome Bootstrap checkbox -->
    <link rel="stylesheet" href="~/Content/css/awesome-bootstrap-checkbox.css">
    <!-- Admin Stye -->
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="~/Content/js/jquery.min.js"></script>


</head>
<body>
    <div class="brand clearfix">
        <a href="#" class="logo">
            <img src="~/Content/img/logo.jpg" class="img-responsive" alt=""></a>
        <span class="menu-btn"><i class="fa fa-bars"></i></span>

        <ul class="ts-profile-nav">
            <li><a href="#">Help</a></li>
            <li class="ts-account">
                @if (Request.IsAuthenticated)
                {
                    <a href="#">
                        <img src="~/Content/img/ts-avatar.jpg" class="ts-avatar hidden-side" alt="">
                        @User.Identity.Name <i class="fa fa-angle-down hidden-side"></i>
                    </a>
               
                    <ul>
                        <li>@Html.ActionLink("My Account", "MyAccount", "Home")</li>
                        <li>@Html.ActionLink("Edit Account", "Profile", "User", new { id = UserId })
                        </li>
                        <li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
@*  @Html.AntiForgeryToken() *@
                                <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                            }
                        </li>
                    </ul>
                }
                else
                {
                    <a href="#">
                        <img src="~/Content/img/ts-avatar.jpg" class="ts-avatar hidden-side" alt="">Guest <i class="fa fa-angle-down hidden-side"></i>
                    </a>
                    <ul>
                        <li>@Html.ActionLink("Add User", "Register", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                }
            </li>
        </ul>
    </div>
    <div class="ts-main-content">
        @if (Request.IsAuthenticated)
        {
            <nav class="ts-sidebar">
                <ul class="ts-sidebar-menu">
                    @*       <li class="ts-label">Search</li>
                    <li>
                        <input type="text" class="ts-sidebar-search" placeholder="Search here...">
                    </li>
                    <li class="ts-label">Main</li>*@
                    <li><a href="/Home/Dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
                    <li><a href="/Home/MyAccount"><i class="fa fa-edit"></i>My Account</a></li>
                    @*                    <li><a href="forms.html"><i class="fa fa-edit"></i>Profile</a></li>*@
                    @if (UType == "HouseOwner")
                    {
                        <li><a href="/Home/Bookings"><i class="fa fa-edit"></i>Bookings</a></li>

                        <li class="">
                            <div class="more"><i class="fa fa-angle-down"></i></div>
                            <a href="#" class="parent"><i class="fa fa-desktop"></i>Tanents</a>
                            <ul>
                                <li><a href="/Tanent/">Tanent List</a></li>
                                <li><a href="/Tanent/AddTanent">Add Tanent</a></li>
                            </ul>
                        </li>
                        <li><a href="/User/Rooms/"><i class="fa fa-table"></i>Rooms</a></li>
                    }


                    <li><a href="/Home/MyWallet"><i class="fa fa-pie-chart"></i>Wallet</a></li>
                    <li class="">
                        <div class="more"><i class="fa fa-angle-down"></i></div>
                        <a href="#" class="parent"><i class="fa fa-desktop"></i>Payments</a>
                        <ul>
                            <li><a href="/Payment/PayRent/">Pay Rent</a></li>
                            <li><a href="/Payment/PaymentHistory/">Payment History</a></li>
                        </ul>
                    </li>
                    <li><a href="charts.html"><i class="fa fa-pie-chart"></i>Request Query</a></li>

                    @*   <li>
                        <div class="more"><i class="fa fa-angle-down"></i></div>
                        <a href="#" class="parent"><i class="fa fa-sitemap"></i>Multi-Level Dropdown</a>
                        <ul>
                            <li><a href="#">2nd level</a></li>
                            <li><a href="#">2nd level</a></li>
                            <li>
                                <div class="more"><i class="fa fa-angle-down"></i></div>
                                <a href="#" class="parent">3rd level</a>
                                <ul>
                                    <li><a href="#">3rd level</a></li>
                                    <li><a href="#">3rd level</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>*@
                    @*      <li class="open">
                        <div class="more"><i class="fa fa-angle-down"></i></div>
                        <a href="#" class="parent"><i class="fa fa-files-o"></i>Sample Pages</a>
                        <ul>
                            <li class="open"><a href="blank.html">Blank page</a></li>
                            <li><a href="login.html">Login page</a></li>
                        </ul>
                    </li>*@

                    <!-- Account from above -->
                    <ul class="ts-profile-nav">
                        <li><a href="#">Help</a></li>
                    @*    <li><a href="#">Settings</a></li>*@
                        <li class="ts-account">
                            <div class="more"><i class="fa fa-angle-down"></i></div>
                            <a href="#" class="parent">
                                <img src="img/ts-avatar.jpg" class="ts-avatar hidden-side" alt="">
                                Account <i class="fa fa-angle-down hidden-side"></i></a>
                            <ul>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Edit Account</a></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>

                </ul>
            </nav>
        }
        <div class="content-wrapper">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>

                <div class="row">
                    <div class="clearfix pt pb">
                        <div class="col-md-12">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    @*    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>*@

    @* @Scripts.Render("~/bundles/jquery")*@

    <!-- Loading Scripts -->
    <script src="~/Content/js/bootstrap-select.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/js/Chart.min.js"></script>
    <script src="~/Content/js/fileinput.js"></script>
    <script src="~/Content/js/chartData.js"></script>
    <script src="~/Content/js/main.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
